@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import 'prismjs/themes/prism.css';

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(15, 23, 36);
  --border: rgb(190, 193, 199);
  --primary: rgb(37, 99, 235);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(241, 245, 249);
  --secondary-foreground: rgb(11, 18, 32);
  --muted: #e8e8e8;
  --muted-foreground: #949494;
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(15, 23, 36);
  --sidebar: rgb(241, 245, 249);
  --sidebar-primary: rgb(190, 193, 199);
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Inter', system-ui, Arial, sans-serif;
}

section {
  overflow: hidden;
}

/* Custom Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--sidebar-primary) var(--sidebar);
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--sidebar);
}

*::-webkit-scrollbar-thumb {
  background: var(--sidebar-primary);
  border-radius: 8px;
  border: 2px solid var(--sidebar);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* Remove browser built-in focus outline */
input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

/* Link styles */
a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--primary-foreground);
  text-decoration: underline;
}

a:active {
  color: var(--primary);
  text-decoration: underline;
}

/* Code styles */
code {
  font-family: 'Courier New', Courier, monospace;
  background: var(--muted);
  color: var(--foreground);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
}